body, html {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    font-size: 0.9rem;
    background: #fff;
}
    header img {
        height: 30px;
        width: auto;
    }
    header a i {
        font-size: 1rem;
        font-weight: 900;
        margin: 0 1rem 0 0;
    }
header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #444;
}
    header h2 {
        font-size: 1.4rem;
        font-weight: 400;
        color: #777;
    }
.row {
    position: relative;
}
.white-line {
    border-top: 2px solid #777;
}
.row h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
}
    .row .sec-2 {
        background: #dfdee7 !important;
    }
    .row .sec-3 {
        background: #c8d4e4 !important;
    }
    .row .sec-3 h3 {
        color: #5b7596;
    }
    .row .sec-2 h3 {
        color: #77729c;
    }
    .row .sec-4 h3 {
        color: #45809b;
    }
    .sec-3.top-col {
        border-top: 10px solid #4d6483;
    }
    .sec-2.top-col {
        border-top: 10px solid #77729c;
    }
    .sec-4.top-col {
        border-top: 10px solid #5e9dbb;
    }
.row.extended .col {
    padding-bottom: 5rem !important;
}
header {
    width: 100%;
    padding: 0 3rem;
}
#page-wrap {
    width: 100%;
    padding: 3rem;
    margin: 0 auto;
}
#page-wrap .col.left {
    background: #dcf0f1;
}
#page-wrap .col.timeline {
    text-align: center;
    background: #111;
}
#page-wrap .col.timeline p {
    font-weight: 700;
    color: #fff;
    margin: 0;
}
#page-wrap .col.timeline span {
    font-weight: 400;
    color: #999;
    margin: 0;
}
#page-wrap .col.announcement {
    border-radius: 0 50px 0 0;
}
#page-wrap .col.end-cap {
    border-radius: 0 0 50px 0;
}
#page-wrap .col.announcement img {
    max-width: 120px;
}
#page-wrap .left.line {
    border-top: 2px solid #111;
}
.card {
    width: auto;
    border: none;
    position: relative;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card:after, .card:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.card:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 5px;
	margin-top: -5px;
}
.card:before {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 11px;
	margin-top: -11px;
}
.card h4 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
}
section {
    background: rgb(119,119,119);
    background: linear-gradient(135deg, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%);
    padding: 2rem;
}
    section a {
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 1rem 2rem;
        border-radius: 50px;
        font-weight: 300;
        margin: 0 1rem;
        transition: .05s ease-in-out;
    }
    section a svg {
        display: inline-block;
        margin-right: 1rem;
        width: 36px;
        height: auto;
    }
    section a:hover {
        background: #dcf0f1;
        border: 1px solid #dcf0f1;
        color: #195774;
    }
.legend {
    border-top: 1px dashed rgb(183, 208, 212);
    padding-top: 2rem;
}
.legend p {
    line-height: 2rem;
}
.legend ul {
    width: 500px;
}
.legend li {
    background: none;
    border: none;
}
.legend li:nth-child(odd) {
    background: rgba(255,255,255,0.4);
}
.legend span {
    width: 60px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    display: inline-block;
}
.timeline div {
    color: #fff;
    padding-top: 2rem;
    font-size: 0.9rem;
}
    .right svg {
        color: #3791bb;
        border: 5px solid #fff;
        background: #fff;
        border-radius: 50px;
        font-size: 48px;
        padding: 5px;
    }
    .custom-info {
        background: #fff;
        padding: 2rem;
        border-radius: .5rem;
        font-size: 0.9rem;
        font-weight: 700;
        position: relative;
        margin: -40px 0 0 0;
    }
    .custom-info:after, 
    .custom-info:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .custom-info:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 5px;
        margin-top: -5px;
    }
    .custom-info:before {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 11px;
        margin-top: -11px;
    }

footer {
    background: #000;
    color: #777;
}
footer p {
    margin: 0;
    padding: 0;
}