body, html {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
    font-size: 0.9rem;
    background: #fff;
}
span.timeline-acronym {
  border-bottom: 2px dotted #2995bc;
  cursor: help;
}
header img {
  height: 30px;
  width: auto;
  display: inline-block;
  margin-right: 0.8rem;
}
header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #444;
    text-align: center;
}
a {
    color: #2995bc !important;
}
.row {
    position: relative;
    
}
.col.right {
    width: 15%;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.col.right.expanded {
    cursor: auto;
}
.timeline {
    width: 10%;
}
.col.right.col-sm-1 {
    width: 10%;
}
.col.right p, 
.col.right ul, 
.col.right .card,
.col.right h3:last-child {
    display: none;
}
.row .expanded {
    flex-grow: 2;
}
.row .expanded h3:last-child, .row .expanded p, .row .expanded ul, .row .expanded .card {
    display: block;
}
.date-marker {
    position: relative;
}
.date-marker::before {
    content: '';
    box-shadow: #777 0 0 0 5px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 24px;
    position: absolute;
    left: calc(50% - 8px);
    top: -8px;
}
.date-marker:after {
    content: '';
    border-top: 2px solid #777;
    position: absolute;
    width: 45%;
    top: 0;
    left: 55%;
}
.date-marker p {
    padding-top: 2rem;
}

.row h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
}
    .row .sec-2 {
        background: rgba(223,222,231,1);
        background: linear-gradient(90deg, rgba(223,222,231,1) 0%, rgb(180, 178, 201) 100%);
    }
        .row .sec-2.expanded {
            background: #dfdee7;
        }
    .row .sec-3 {
        background: rgba(200,212,228,1);
        background: linear-gradient(90deg, rgba(200,212,228,1) 0%, rgb(167, 182, 201) 100%);
    }
        .row .sec-3.expanded {
            background: #c8d4e4;
        }
    .row .sec-4 {
        background: rgba(220,240,241,1);
        background: linear-gradient(90deg, rgba(220,240,241,1) 0%, rgb(183, 216, 218) 100%);
    }
        .row .sec-4.expanded {
            background: #dcf0f1;
        }
    .row .sec-5 {
        background: rgba(240,236,236,1);
        background: linear-gradient(90deg, rgba(240,236,236,1) 0%, rgb(218, 206, 206) 100%);
    }
        .row .sec-5.expanded {
            background: #f0ecec;
        }
    .row .sec-6 {
        background: rgba(224,228,220,1);
        background: linear-gradient(90deg, rgba(224,228,220,1) 0%, rgb(194, 202, 186) 100%);
    }
        .row .sec-6.expanded {
            background: #e0e4dc;
        }
    .row .sec-7 {
        background: rgba(176,220,220,1);
        background: linear-gradient(90deg, rgba(176,220,220,1) 0%, rgb(145, 194, 194) 100%);
    }
        .row .sec-7.expanded {
            background: #b0dcdc;
        }
    .row .sec-2 h3, .row .sec-2 h6 {
        color: #77729c;
    }
    .row .sec-3 h3, .row .sec-3 h6 {
        color: #5b7596;
    }
    .row .sec-4 h3, .row .sec-4 h6 {
        color: #45809b;
    }
    .row .sec-5 h3, .row .sec-5 h6 {
        color: #7c7878;
    }
    .row .sec-6 h3, .row .sec-6 h6 {
        color: #6c795f;
    }
    .row .sec-7 h3, .row .sec-7 h6 {
        color: #355f5f;
    }
    .top-col {
        cursor: pointer;
        position: relative;
    }
    .top-col:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        content: "\f337";
        position: absolute;
        right: 10px;
        top: 10px;
        color: #fff;
    }
    .top-col.expanded:before {
        content: none;
    }
    .top-col h6 {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .top-col.expanded h6 {
        display: none;
    }
    .sec-3.top-col {
        border-top: 10px solid #4d6483;
    }
    .sec-2.top-col {
        border-top: 10px solid #77729c;
    }
    .sec-4.top-col {
        border-top: 10px solid #5e9dbb;
    }
    .sec-5.top-col {
        border-top: 10px solid #666161;
    }
    .sec-6.top-col {
        border-top: 10px solid #6c795f;
    }
    .sec-7.top-col {
        border-top: 10px solid #355f5f;
    }
.row.extended .col {
    padding-bottom: 5rem !important;
}
header {
    width: 100%;
    padding: 0 3rem;
}
#page-wrap {
    width: 100%;
    padding: 3rem;
    margin: 0 auto;
}
#page-wrap .col.timeline {
    text-align: center;
    background: #111;
}
.timeline span {
    cursor: help;
}
#page-wrap .col.timeline svg,
#page-wrap .col.timeline i {
  color: #53B4BD;
  margin: 0 0.5rem;
}
#page-wrap .col.timeline p {
    font-weight: 700;
    color: #fff;
    margin: 0;
}
#page-wrap .col.timeline span {
    font-weight: 400;
    color: #999;
    margin: 0;
}
#page-wrap .col.announcement img {
    max-width: 70%;
    height: auto;
}
#page-wrap .right.line {
    border-top: 2px solid #111;
    position: relative;
}
#page-wrap .line-marker::before {
    content: '';
    background: #fff;
    box-shadow: rgba(0,0,0,0.2) 0 0 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    position: absolute;
    left: calc(50% - 6px);
    top: -7px;
}
.card {
    width: auto;
    border: none;
    position: relative;
    margin: 2rem 0 2rem 1rem;
    border: 0 !important;
    border-radius: 3rem !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px;
}
.card:after, .card:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.card:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 5px;
	margin-left: -5px;
}
.card:before {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 11px;
	margin-left: -11px;
}
.card h4 {
    margin: 0;
    padding: 0 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    font-family: "Permanent Marker", cursive;
}
.card h4 svg {
  display: inline-block;
  width: 12px;
  height: auto; 
  color: #000;
}
section {
    background: rgb(119,119,119);
    background: linear-gradient(135deg, rgba(119,119,119,1) 0%, rgba(0,0,0,1) 100%);
    padding: 2rem;
}
    section a {
        color: #fff;
        text-decoration: none;
        border: 1px solid #fff;
        padding: 1rem 2rem;
        border-radius: 50px;
        font-weight: 300;
        margin: 0 1rem;
        transition: .05s ease-in-out;
    }
    section a svg {
        display: inline-block;
        margin-right: 1rem;
        width: 36px;
        height: auto;
    }
    section a:hover {
        background: #dcf0f1;
        border: 1px solid #dcf0f1;
        color: #195774;
    }
.legend {
    border-top: 1px dashed rgb(183, 208, 212);
    padding-top: 2rem;
}
.legend p {
    line-height: 2rem;
}
.legend ul {
    width: 500px;
}
.legend li {
    background: none;
    border: none;
}
.legend li:nth-child(odd) {
    background: rgba(255,255,255,0.4);
}
.legend span {
    width: 70px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    display: inline-block;
}
.timeline div {
    color: #fff;
    padding-top: 2rem;
    font-size: 0.9rem;
}
    .right svg {
        color: #3791bb;
        border: 5px solid #fff;
        background: #fff;
        border-radius: 50px;
        font-size: 48px;
        padding: 5px;
    }
    .custom-info {
        background: #fff;
        padding: 2rem;
        border-radius: .5rem;
        font-size: 0.9rem;
        font-weight: 700;
        position: relative;
        margin: -40px 0 0 0;
    }
    .custom-info:after, 
    .custom-info:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .custom-info:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 5px;
        margin-top: -5px;
    }
    .custom-info:before {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 11px;
        margin-top: -11px;
    }

footer {
    background: #000;
    color: #777;
    overflow: hidden;
}
footer p {
    margin: 0;
    padding: 0;
}
footer a {
    color: #888;
    text-decoration: none;
}

footer a:hover {
    color: #999;
}

footer a svg {
    display: inline-block;
    margin-left: 1rem;
}